<div>
  <div style="text-align: center;">
    <h1>Contact Us</h1>
    <hr />
    <h2>How would you like to receive communication about events?</h2>
  </div>

  <div style="text-align: center;">
    <h4>Remind</h4>
    <p>
      Subscribe to the layton YSA alerting system, Remind App, using class code <code>LaytonYSA1</code>.
    </p>
    <span>
      <a href="https://itunes.apple.com/us/app/remind101/id522826277" target="_blank">
        <img src="https://assets-global.website-files.com/621ca7b5009267942f98301e/6234896171fe6fc71da920bf_app-store.png" loading="lazy" width="162" alt="App Store Link">
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.remind101" target="_blank">
        <img src="https://assets-global.website-files.com/621ca7b5009267942f98301e/623489605946262ae5ed56ea_google-play.png" loading="lazy" width="163.5" alt="Google Play Link">
      </a>
    </span>

    <h4>Facebook</h4>
    <p>
      Join our Facebook page by clicking <a target="_blank" href="https://www.facebook.com/groups/187101348153130/">here</a>.
    </p>
  </div>
</div>
