<article>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h3>{{title}}</h3></mat-card-title>
      <mat-card-subtitle>{{date | dateTime}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        <ng-content></ng-content>
      </p>
    </mat-card-content>

    <mat-card-footer style="margin: 5px; display: flex; justify-content: flex-end">
      @if (address != undefined) {
        <a mat-icon-button
           color="primary"
           matTooltip="Address"
           target="_blank"
           [href]="address">
          <mat-icon>map</mat-icon>
        </a>
      }
    </mat-card-footer>
  </mat-card>
</article>

