<div style="text-align: center;">
  <h3>Church Address</h3>
  <hr />
</div>

<div>
  <p style="text-align: center;">
    You can join us in the Antelope Dr. YSA building located <a target="_blank" href="https://www.google.com/maps/place/The+Church+of+Jesus+Christ+of+Latter-day+Saints/@41.0824453,-111.9288085,15z/data=!4m6!3m5!1s0x8753016b10915453:0x653e1aa630b6fe52!8m2!3d41.0895994!4d-111.9281181!16s%2Fg%2F1tnhytkh?entry=ttu">here</a>.
  </p>
  <p style="text-align: center;">
    <strong>Address:</strong> 2025 E Antelope Dr, Layton, UT 84040
  </p>
</div>
