<div class="container">
  <div style="grid-area: banner;">
    <app-banner/>
  </div>

  <div style="grid-area: activities;">
    <app-activities></app-activities>
  </div>

  <div style="grid-area: contactus;">
    <app-activity title="Contact Us">
      How would you like to receive communication about events?

      Text
      To subscribe to the Kaysville YSA text messaging system, text (all one word) to 81010.

      Email
      Receive a weekly email of the activities for that week and inspirational thoughts.  Subscribe Here

      Facebook
      Join our Facebook page by clicking here.
    </app-activity>
  </div>

  <div style="grid-area: comefollowme;">
    <app-activity title="Come, Follow Me"/>
  </div>
  <div style="grid-area: schedule;">
    <app-activity title="Church Schedule"/>
  </div>
</div>
